<meta meta charset=utf-8>
<br>
<div class="main-header">
    <div id="" class="container">
        <div class="row vertical-align">
        	<div class="col-md-1">
        		<span class="page-title" style="font-size:30px;" translate="carts.cart_history"></span>
            </div>
            <div class="col-md-offset-1 col-md-8 ">
            	<div class="pull-right">
				<span class="input-group-btn ">
            	<input  style="padding: 7px 10px; border-radius:0px"
					name="searchWord" 
					[(ngModel)]="searchWord" 
					placeholder="Znajdź zamówienie" 
					class="input-group-field" 
					aria-label="Search our store"
					type="search"
				> 
					<button 
						type="submit" 
						class="btn icon-fallback-text">
						<span class="icon icon-search" aria-hidden="true"></span> 
						<span class="fallback-text">Szukaj</span>
					</button>
				</span>
				</div>
            </div>
         	</div>
        </div>
    </div>
<style>
.borderless th, td {
    border-left: none !important;
    border-right: none !important;
}
</style>
<div class="container">
	<div class="row">
        <div class="col-lg-12">
             <table id="mytable" class="table borderless table-bordred table-striped table-hover">
             	<thead>
                   	<tr>
	                    <th>{{'carts.cart_date' | translate}}</th>
	                    <th>{{'carts.price' | translate}}</th>
	                    <th>{{'lastname' | translate}}</th>
				        <th>E-mail</th>
				        <th>{{'patients.actions' | translate}}</th>
                   </tr>
                </thead>
    			<tbody>
    				<tr ng-repeat="cart in carts">
				      	<td><span class="table_span">{{cart.cartDate | date:'yyyy-MM-dd' }}</span></td>
				      	<td><span class="table_span">{{cart.totalPrice}}</span></td>
				      	<td><span class="table_span">{{cart.lastName}}</span></td>
				         <td><span class="table_span">{{cart.email}}</span></td>
				             <td class="actions-col">
				               <span class="masterTooltip table_span" title="{{'patients.add_a_visit' | translate}}"> 
				               </span>
				                <span class="masterTooltip table_span" title="{{'carts.show_details'| translate}}">
				                	<a ng-click="cartDetails(cart.id)" 
					                	href="" 
					                	class="icon">
				                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
				                	</a>
				                </span> 
				            </td>
	        		</tr>
    			</tbody>
			</table>
        </div>
    </div>
	<div class="row">
	    <div class="col-md-5 col-md-offset-5">
	    	<ul  uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>
	    </div>
	</div>
</div>


<style>

.ht-pagination ul a, .ht-pagination ul span, form button, form input[type="reset"], form input[type="submit"], a.button {
    font-size: 13px;
    padding: 4px 23px 3px;
    letter-spacing: 0;
}

.actions-col .icon img {
    height: 20px;
    width: auto;
    max-width: 20px;
}

th, td {
	text-align: center;
}

</style>