<meta meta charset=utf-8>
<main class="wrapper main-content" role="main">
<hr>
<form 
	method="post" novalidate class="cart">
	<h1 style="margin: 0px;">Koszyk<div class="pull-right">{{cart.cartDate | date:'yyyy-MM-dd' }}</div></h1> 
	<div class="cart__row medium-down--hide cart__header-labels" style="margin-top: 0px;padding-top: 0px;">
		<div class="grid--full">
			<div class="grid__item large--one-half">
				<div class="grid">
					<div class="grid__item two-thirds push--one-third">Produkt</div>
				</div>
			</div>
			<div class="grid__item large--one-half">
				<div class="grid--full">
					<div class="grid__item one-third medium-down--one-third">
						Cena</div>
					<div
						class="grid__item one-third medium-down--one-third text-center">
						Ilość</div>
					<div class="grid__item one-third medium-down--one-third text-right">
						Razem</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cart__row" data-id="1286" style="margin-top: 0px;padding-top: 0px;"
		ng-repeat="product in cart.cartProducts">
		<div class="grid--full cart__row--table-large">
			<div class="grid__item large--one-half">
				<div class="grid">
					<div class="grid__item one-third">
						<a href="javascript:void(0)" class="cart__image"> <img
							src="http://localhost:8080/api/product/img?number={{product.number}}"
							alt="Problem" style="max-width: 50%;">
						</a>
					</div>
					<div class="grid__item two-thirds">
						<a href="javascript:void(0)" class="h4">
							{{product.name}} </a> 
					</div>
				</div>
			</div>

			<div class="grid__item large--one-half">
				<div class="grid--full cart__row--table-large">
					<div class="grid__item one-third">
						<span class="cart__mini-labels">Cena</span> <span class="h3">{{product.price | number:2}}</span>
					</div>

					<div class="grid__item one-third text-center">
						<span class="cart__mini-labels">Ilość</span>
						{{product.totalNumber}}
					</div>
					<div class="grid__item one-third text-right">
						<span class="cart__mini-labels"></span> <span class="h3">{{product.price * product.totalNumber | number:2}}</span>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="grid cart__row">
		<div class="grid__item seven-twelfths small--one-whole">
			<div
				ng-class="{'cart__note': !showNote,'cart__note.is-active': showNote}">
				<label for="CartSpecialInstructions"
					style="font-size: 14px; line-height: 1.6; font-family: 'Rubik', Rubik, Arial, sans-serif; color: #14501c; font-weight: 300;">Dodatkowe
					informacje dla sprzedawcy</label>
				<textarea name="note" class="input-full"
					id="CartSpecialInstructions" [(ngModel)]="description"></textarea>
			</div>
		</div>

		<div class="grid__item text-right five-twelfths">
			<p >
				<span class="cart__subtotal-title" style="padding-right: 16px;">Przesyłka:</span> <span 
					class="h4 cart__subtotal">{{cart.shippingPrice + cart.paymentPrice |
					number:2}}</span>
			</p>
			<p >
				<span class="cart__subtotal-title"><b>Podsumowanie:</b></span> <span
					class="h3 cart__subtotal">{{cart.totalPrice + cart.shippingPrice + cart.paymentPrice |
					number:2}}</span>
			</p>
			<div class="cartQuestions">
			</div>
				<div style="clear: both;">
					<input name="checkout" class="btn" value="Powrót"
						ng-click="returnToCartList()">
				</div>
		</div>
	</div>

</form>
</main>
<style>
.hide {
	display: none;
}
</style>