<meta meta charset=utf-8>
<div class="col-xs-6">
	<input id="pack" 
		name="pack" 
		ng-model="countPack.name"
		class=" form-control" 
		placeholder="Paczka" 
		required
		ng-class="{submitted:loginForm.submitted}" 
		type="text" />
	<span 
		ng-show="!(countPack.name > 0) && form.submitted" 
		style="color : #f00; float:left;"
		>{{'login.description_required' | translate}}
	</span>
		<br>
</div>
<div class="col-xs-6">
	<input
		id="price" 
		name="price" 
		ng-model="countPack.price"
		required 
		class="form-control" 
		placeholder="Cena" 
		type="text"
		ng-class="{submitted:loginForm.submitted}" 
		>
	<span 
		ng-show="!(countPack.price > 0) && form.submitted" 
		style="color : #f00; float:left;"
		>{{'login.description_required' | translate}}
	</span>
</div>
<style>
	input.submitted.ng-invalid
	{
	  border:2px solid #f00;
	}
	.red-border-class {
		border: 2px solid #f00;
	}
	
	span.required {
		color: red;
		margin-left: 3px;
	}
</style>