<meta meta charset=utf-8>
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1 style="text-align: center;">Dodaj produkt </h1>
        </div>
<!-- {{imgNumber}} -->
        <form 
        	
        	id="addProductForm"
        	name="addProductForm"
        	class="form-horizontal" 
        	novalidate
        >
        <div class="row">
        	<div class="col-xs-4">
        		<img ng-src="api/product/img?number={{imgNumber}}" alt="" 
        		title="" style="height: 350px; width: 350px;">
        	</div>
        	<div class="col-xs-5 col-xs-offset-1">
	            <div class="form-group">
	                <div class="col-xs-12">
	                <label for="firstname" >Nazwa produktu:<span class="required">*</span></label>
	                        <input 
	                        	id="name" 
	                        	name="name" 
	                        	ng-model="newProduct.name" 
	                        	ng-class="{submitted:loginForm.submitted}"
	                        	required
	                        	class=" form-control" 
	                        	placeholder="Nazwa" 
	                        	type="text">
	                	<span 
							ng-show="addProductForm.name.$error.required && addProductForm.submitted" 
							style="color : #f00; float:left;"
							>{{'login.name_required' | translate}}
						</span>
	                </div>
	            </div>
	            <div class="form-group">
	                <div class="col-xs-12">
	                <label for="firstname" >Opis:<span class="required">*</span></label>
	    				<textarea 
	    					class="form-control" 
	    					id="description" 
	    					name="description"
	    					ng-class="{submitted:loginForm.submitted}" 
	    					rows="3"
	    					ng-model="newProduct.description"
				            required
				            placeholder="Opis" 
				         ></textarea>
	                    <span 
							ng-show="addProductForm.description.$error.required && addProductForm.submitted" 
							style="color : #f00; float:left;"
							>{{'login.description_required' | translate}}
						</span>
	                </div>
	            </div>
	            <div class="form-group">
		            <div class="col-xs-12">
		            <label for="firstname" >Kategoria:<span class="required">*</span></label>
		            	<select 
						id="mainCategory" 
						name="mainCategory" 
						class="form-control arrows" 
						ng-model="model.mainCategory"
						ng-options="'menu.' + category.name | translate for category in categories"
						ng-init="model.mainCategory = categories[1]; update();" 
						ng-change="update()"
						>
						</select>
						<br>
					</div>
				</div>
				
				<div class="form-group">
		            <div class="col-xs-12">
		            <label for="firstname" >Podkategoria:<span class="required">*</span></label>
		            	<select 
							id="subCategory" 
							name="subCategory" 
							class="form-control arrows" 
							ng-model="model.subcategory"
							ng-options="'submenu.' + category.name | translate for category in model.mainCategory.subcategory"
							
						>
						</select>
					</div>
				</div>
				
				<div class="form-group">
		            <div class="col-xs-12">
		            <label for="firstname" >Opakowania:<span class="required">*</span></label>
		            	<div ng-repeat="pack in countOfPack">
		            	<div class="row">
							<add-product-packages-directive id="{{pack.id}}" count="countOfPack"
								form="addProductForm"
							></add-product-packages-directive>
		            	</div>
	                    </div>    	
						<input 
							type="button" ng-click="zwieksz()" value="Dodaj"/>
					</div>
				</div>
			
	            <div class="form-group">
	                <label for="firstname" >Dodaj zdjęcie:<span class="required">*</span></label>
	                
	                <div class="well"style="width:300px;height: 100px;">
			             <div>
			                 <input type="file" id="file1"/>
			                 <div style="float:right;">
			                     <button class="btn btn-xs btn-success" ng-disabled="disableBtnUpload" ng-click="btn_upload()">Załaduj zdjęcie</button>
			                 </div>
			             </div>
			             <div 
			             	ng-repeat="file in files" 
			             	style="margin-top: 20px;border-bottom-color: antiquewhite;border-bottom-style: double;"
			             >
			                 <div>
			                 	<span>{{file.name}}</span>
			                 	<div style="float:right;">
			                  	<button ng-click="btn_remove(file)" title="Remove from list to be uploaded">
									Usuń
			                  	</button>
			                 	</div>
			                 </div>
			                 <progress style="width:250px;" value="{{file.loaded}}" max="{{file.size}}"></progress>
			             </div>
					</div>
	            </div>
			</div>
		 </div>
            <div class="form-actions clearfix" style="text-align: right">

                <button type="button" ng-click="addProductFnc()" class="btn btn-lg btn-success" style="background-color: #d68121;">
                    Dodaj produkt
                </button>
            </div>
        </form>
    </div>
</div>
<style>
input.submitted.ng-invalid
{
  border:2px solid #f00;
}
	.red-border-class{
		border:2px solid #f00;
	}
	span.required {
    color: red;
    margin-left: 3px;
}
	.arrows {
		background-image: url("https://vend-ecom-prod-assets.s3.amazonaws.com/storefront-assets/9db84236-6fac-4959-8f42-5d131090356c/22e21992-e3eb-11e6-b255-0a6afe88c81b/4f76952c-4218-11e7-a288-0a6afe88c81b.svg");
		padding-right: 28px;
	}
</style>