<!-- <meta meta charset=utf-8> -->
<main class="wrapper main-content" role="main">
<hr>
<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  <a href="#" title="Wróć do strony głównej"
  >Strona główna</a>
    <span aria-hidden="true">›</span>
    <span>{{'submenu.'+category.name | translate}}</span>
</nav>
<div class="grid--rev">
	<div class="grid__item large--three-quarters">
		<header class="section-header">
			<h1 class="section-header__title">{{'submenu.'+category.name | translate}}</h1>
			<div class="rte rte--header">
<!-- 				<h3>{{category.name}}</h3> -->
				<p>{{category.description}}</p>
<!-- 				<p>Lekkie lub umiarkowane nasilenie bólu może być leczone lekami -->
<!-- 					przeciwgryźnymi (OTC) lub lekami wydawanymi bez recepty, które są -->
<!-- 					dostępne w aptece pod nadzorem Farmaceuty lub Online z -->
<!-- 					TheFamilyPharmacy.ie. Najczęstsze skargi, które słyszymy na liczniku -->
<!-- 					OTC to bóle głowy, bóle okresowe, bóle zębów, bóle pleców, bóle -->
<!-- 					mięśni i stawów, zapalenie kości i stawów oraz przez cały rok bóle -->
<!-- 					zimna i bólowa.</p> -->
<!-- 				<p style="display: none;">Pain management can be a complex and -->
<!-- 					multi-disciplinary process to bring about maximum relief and -->
<!-- 					involves pain medication or analgesics, physical or occupational -->
<!-- 					therapy and complementary therapies such as massage and acupuncture. -->
<!-- 					Pain can range from a dull ache to a sharp stab and the pain scale -->
<!-- 					can go from mild to extreme. Analgesics we recommend contain -->
<!-- 					paracetamol, aspirin, ibuprofen or other non-steroidal -->
<!-- 					anti-inflammatories or opioid analgesics such as codeine which is -->
<!-- 					used to treat moderate to severe pain. Any medical conditions you -->
<!-- 					may have or other medicines you take, can influence the analgesic we -->
<!-- 					would recommend so please use the live chat facility below to get -->
<!-- 					more information.</p> -->
				<div class="read-more">Czytaj więcej/mniej</div>
			</div>
		</header>
		<hr>
		<div class="section-header">
			<div class="section-header__right">
				<!-- /snippets/collection-sorting.liquid -->
				<div class="form-horizontal">
				
<!-- 					<select name="SortBy" id="SortBy" > -->
<!-- 						<option value="">Sort by</option> -->
<!-- 						<option value="">---------------</option> -->
<!-- 						<option value="name-ascending">Alfabetycznie, A-Z</option> -->
<!-- 						<option value="name-descending">Alfabetycznie, Z-A</option> -->
<!-- 						<option value="price-ascending">Cena, Najniższa do najwyższej</option> -->
<!-- 						<option value="price-descending">Cena, Najwyższa do najniższej</option> -->
<!-- 						<option value="created-ascending">Date, old to new</option> -->
<!-- 						<option value="created-descending">Date, new to old</option> -->
<!-- 					</select> -->
<!-- 					<sort-list-select (selectedChange)="sortBy1 = changeSort($event)"></sort-list-select> -->
					<select ng-model="selectedOption" name="SortBy" id="SortBy" ng-click="onChange($event)"
					ng-init="selectedOption = sortOptions[0].key">
			           <option ng-repeat="sort in sortOptions" value="{{sort.key}}">{{sort.text}} 
			               </option>
			    	</select>
				</div>
				<div class="collection-view">
					<button type="button" title="Grid view"
						class="change-view" data-view="grid"
						ng-click="changeBetweenGridAndList(true)">
						<span class="glyphicon glyphicon glyphicon-th-large"> <a
							href="#"><span
								class="icon icon-grid-view" aria-hidden="true"
								></span></a> 
<!-- 								<span class="fallback-text">Krata</span> -->
						</span>
					</button>
					
					<button type="button" title="List view" class="change-view"
						data-view="list"
						ng-click="changeBetweenGridAndList(false)">
						<span class="glyphicon glyphicon-th-list"> 
						<a href="javascript:void(0)"><span
								class="icon icon-list-view" aria-hidden="true"
								></span></a> 
<!-- 								<span class="fallback-text">Lista</span> -->
						</span>
					</button>
				</div>
			</div>
		</div>
	
		<div class="grid-uniform" ng-show="isGrid">
	
<!-- 			<div *ngFor="let product of (products | sortList:sortBy1) let i = index " -->
				<div class="grid__item large--one-third medium--one-half" ng-repeat="product in (products | orderBy:selectedOption)">
					<a href="#"
						class="grid__image"> <img
						ng-src="api/product/img?number={{product.number}}"
						alt="Brak zdjęcia" title="">
					</a>
					<p class="h6">
						<a ui-sref="product({id:{{product.id}}})">{{product.name}}</a>
					</p>
<!-- 					<p> -->
<!-- 						Cena <span itemprop="price">{{product.price}}</span> -->
<!-- 					</p> -->
	
<!-- 					<packages-select [product]="product" -->
<!-- 						(selectedChange)="packArray[i] = changePackage($event);"></packages-select> -->
		            
		            <select 
						id="package" 
						name="package" 
						class="form-control arrows" 
						ng-model="packArray[$index]"
						ng-options="package.name + ' - ' + package.price + ' zł' for package in product.packages"
						ng-init="packArray[$index] = product.packages[0]" 
						
						>
<!-- 						<option style="display:none" value="">{{'commons.select_hour' | translate}}</option> -->
					</select>
					
<!-- 					<input id="packArray_{{$index}}" [(ngModel)]="packArray[$index]" type="hidden" /> -->
<!-- 					packArray[i] = {{packArray[i]}} -->
					<br> <br>
					<button class="btn" type="submit"
						ng-click="addToCart(product,packArray[$index])">
						<span id="AddToCartText">Dodaj do koszyka</span>
					</button>
				</div>
			</div>
	
	
			<!-------------------------------------------------->
			<div ng class="grid-uniform" ng-show="!isGrid">
				<div ng-repeat="product in products">
					<div class="grid__item">
						<div class="grid large--display-table">
							<div
								class="grid__item large--one-fifth large--display-table-cell medium--one-third">
								<a href="/adult-pain-relief/products/pernaton-joint-massage-gel"
									class="grid__image"> <img
									src="http://localhost:8080/api/product/img?number={{product.number}}"
									alt="Brak zdjęcia" title="">
								</a>
							</div>
							<div
								class="grid__item large--three-fifths large--display-table-cell medium--two-thirds">
								<p class="h6">
									<a href="javascript:void(0)">{{product.name}}</a>
								</p>
								<div class="rte">
									<p>{{product.description}}</p>
								</div>
							</div>
							<div
								class="grid__item large--one-fifth large--display-table-cell medium--two-thirds">
	
								{{product.price}}</div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="grid__item large--one-quarter">
		<h3>Katalog</h3>
		<ul>
		  <li ng-repeat="item in menu">
		  	<a routerLink="{{item.url}}" routerLinkActive="active-link">{{'menu.'+item.name | translate}}</a>
		  </li>
		</ul>
	</div>
</div>
</main>

<style>
	.arrows {
		background-image: url("https://vend-ecom-prod-assets.s3.amazonaws.com/storefront-assets/9db84236-6fac-4959-8f42-5d131090356c/22e21992-e3eb-11e6-b255-0a6afe88c81b/4f76952c-4218-11e7-a288-0a6afe88c81b.svg");
		padding-right: 28px;
		width: auto;
	}
</style>