<meta meta charset=utf-8>
<main class="wrapper main-content" role="main">
<hr>
<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  <a href="#" title="Wróć do strony głównej"
  >Strona główna</a>
    <span aria-hidden="true">›</span>
    <span>{{'submenu.'+category.name | translate}}</span>
</nav>
<div class="grid--rev">
	<div class="grid__item large--three-quarters">
		<header class="section-header">
			<h1 class="section-header__title">{{'submenu.'+category.name | translate}}</h1>
			<div class="rte rte--header">
				<p>{{category.description}}</p>
			</div>
		</header>
		<hr>
		<div class="section-header">
			<div class="section-header__right">
				<div class="form-horizontal">
					<select ng-model="selectedOption" name="SortBy" id="SortBy" ng-change="sortBy(selectedOption)"
					ng-init="selectedOption =sortOptions[0].key">
			           <option ng-repeat="sort in sortOptions" value="{{sort.key}}" >{{sort.text}} 
			               </option>
			    	</select>
				</div>
				<div class="collection-view">
					<button type="button" title="Grid view"
						class="change-view" data-view="grid"
						ng-click="changeBetweenGridAndList(true)">
						<span class="glyphicon glyphicon glyphicon-th-large"> <a
							href="#"><span
								class="icon icon-grid-view" aria-hidden="true"
								></span></a> 
						</span>
					</button>
					
					<button type="button" title="List view" class="change-view"
						data-view="list"
						ng-click="changeBetweenGridAndList(false)">
						<span class="glyphicon glyphicon-th-list"> 
						<a href="javascript:void(0)"><span
								class="icon icon-list-view" aria-hidden="true"
								></span></a> 
						</span>
					</button>
				</div>
			</div>
		</div>
	
		<div class="grid-uniform" ng-show="isGrid">
	
				<div class="grid__item large--one-third medium--one-half" 
				ng-repeat="product in (products | orderBy:propertyName:reverse)">
					<a href="" ui-sref="product({id:{{product.id}},categoryName:'{{categoryName}}'})"
						class="grid__image"> <img
						ng-src="api/product/img?number={{product.number}}"
						alt="Brak zdjęcia" title="">
					</a>
					<p class="h6">
						<a ui-sref="product({id:{{product.id}},categoryName:'{{categoryName}}'})">{{product.name}}</a>
					</p>
		            
		            <select 
						id="package" 
						name="package" 
						class="form-control arrows" 
						ng-model="packArray"
						ng-options="package.name + ' - ' + package.price + ' zł' for package in product.packages"
						ng-init="packArray = product.packages[0];" 
						
						>
						<option value="" ng-show="false" ng-selected="true"></option>
					</select>
					<br> <br>
					<button class="btn" type="submit"
						ng-click="addToCart(product,packArray)">
						<span id="AddToCartText">Dodaj do koszyka</span>
					</button>
				</div>
			</div>
	
	
			<!-------------------------------------------------->
			<div ng class="grid-uniform" ng-show="!isGrid">
				<div ng-repeat="product in products">
					<div class="grid__item">
						<div class="grid large--display-table">
							<div
								class="grid__item large--one-fifth large--display-table-cell medium--one-third">
								<a href="" ui-sref="product({id:{{product.id}},categoryName:'{{categoryName}}'})"
									class="grid__image"> <img
									src="http://localhost:8080/api/product/img?number={{product.number}}"
									alt="Brak zdjęcia" title="">
								</a>
							</div>
							<div
								class="grid__item large--three-fifths large--display-table-cell medium--two-thirds">
								<p class="h6">
									<a href="" ui-sref="product({id:{{product.id}},categoryName:'{{categoryName}}'})">
									{{product.name}}</a>
								</p>
								<div class="rte">
									<p>{{product.description}}</p>
								</div>
							</div>
							<div
								class="grid__item large--one-fifth large--display-table-cell medium--two-thirds">
	
								{{product.price}}</div>
						</div>
					</div>
				</div>
		</div>
		<div class="row">
		    <div class="col-md-5 col-md-offset-5">
		    	<ul  uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>
		    </div>
		</div>	
	</div>
	<div class="grid__item large--one-quarter">
		<h3>Katalog</h3>
		<ul>
		  <li ng-repeat="item in menu">
		  	<a ui-sref="medicineList({name:'{{item.subcategory[0].url}}'})">{{'menu.'+item.name | translate}}</a>
		  </li>
		</ul>
	</div>
</div>
</main>

<style>
	.arrows {
		background-image: url("https://vend-ecom-prod-assets.s3.amazonaws.com/storefront-assets/9db84236-6fac-4959-8f42-5d131090356c/22e21992-e3eb-11e6-b255-0a6afe88c81b/4f76952c-4218-11e7-a288-0a6afe88c81b.svg");
		padding-right: 28px;
		width: auto;
	}
</style>